<h3>BB Body</h3>
<hr>

<img [src]="img1" height="200" width="200">

<br>

<form>
    <label>Enter your full name</label>
   <!-- <input type="text" [formControl]="username"> -->

    <br>    
    <label>you entered : {{username.value}}</label>
</form>

    <button (click)="changevalue()">Change to Default</button>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis accusantium dolorum nobis consectetur quidem voluptas recusandae vel, perspiciatis optio sequi deleniti odit, quo asperiores minima praesentium! Nobis qui asperiores nam.
Quam, nihil necessitatibus. Quae, hic debitis. Temporibus voluptatibus alias iste in aliquid beatae ipsa, quis impedit? Consequuntur, fuga iste. Consectetur omnis a debitis ab quidem praesentium? Aliquam officiis adipisci eos?
Consequuntur soluta, quis est, sed impedit deserunt aliquid, quasi necessitatibus delectus nostrum tempore commodi dolorem atque fuga? Ut dolores nobis neque nemo repudiandae voluptatem, ea corrupti cumque ad id doloribus.
Dolorem reiciendis minus numquam ut dignissimos deleniti veritatis, error, ipsum quod earum officia maiores, dolores perferendis magni sint sed explicabo asperiores nostrum molestiae suscipit! Rem earum itaque ullam alias exercitationem?
Nulla est dolor ullam suscipit consequuntur, repellat repudiandae, esse vero odio quisquam accusamus dolorem ipsum, atque laudantium tempora accusantium. Nihil minima iusto corporis omnis cum illo ex minus asperiores praesentium!</p>