<!-- <div *ngFor="let n of nums">
    <div [ngStyle]="{color:getColor(n)}">
        <label>{{n}}</label>
    </div>
</div> -->
<p highlightme>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore atque quos possimus ratione excepturi, at quod iste quaerat fugit, hic nemo repudiandae fuga tenetur, consequatur error adipisci dolor? Voluptates, quasi!
Inventore ex a ipsum est debitis aut molestiae placeat consectetur velit similique consequuntur doloribus repellat nesciunt voluptatum ratione autem illo repellendus dolores, temporibus quod nobis maxime magnam quam in. Laudantium!
Dolores amet earum impedit perferendis! Fugiat veniam in dolore voluptatem odio neque nihil culpa eum quis. Recusandae aspernatur laudantium error nisi iste ullam ratione odio, quis soluta omnis sint deleniti!</p>




<!-- <div *ngFor="let n of nums">
    <div [ngClass]="n%2==0?'green':'red'">
        <label>{{n}}</label>
    </div>
</div> -->